FERNET_KEY=wEuH6IMLTKxWpTM9QncChB4xHYI_DpPXpW8RGiI9F00=
SESSION_SECRET=rdoc9NnPuY1ONaTJLUJZvaGCQSW_gqqKG7He8zYY7QQ
JWT_SECRET=VRSGBty5pqd0UvXUo6VivgfCdk979JGUcqwn5xRPfiI
LOGIN_ALICE_PASSWORD_HASH_B64=JDJiJDEyJEY3amdWVjI0REMua05lbGw2cUdmVC5iU3FHQVZ5d2NRMWZMbDA2YzlUb1BseUJmM1p2WkxL
LOGIN_BOB_PASSWORD_HASH_B64=JDJiJDEyJFd0SnpnbENxRDd6Z1k3aURYek5WNXVIamE3bzdvdGlNNWQwbUx5R0JGa214bTNyZVJyMkxx
LOGIN_ADMIN_PASSWORD_HASH_B64=JDJiJDEyJDA2aDc2VU1YZkhOWkZKZ2o2cFNnNnVpbThPTGRiZFF6alA4eGE0bmdEWktsZ0puT2lXQUdP
